<form action="/confirmDetails/<%= book[0].id %>" method="POST">
    <div>
        <%= book[0].id %>
    </div>
    <div>
        <%= book[0].bookName %>
    </div>
    <div>
        <%= book[0].author %>
    </div>
    <div>
        <%= book[0].publisher %>
    </div>
    <div>
        <%= book[0].edition %>
    </div>
    <div>
        <%= book[0].owner %>
    </div>
    <div>
        <%= book[0].status %>
    </div>
    <div>
        <button type="submit">Confirm</button>
    </div>
</form>