<% include partials/header %>
<link rel="stylesheet" href="/css/styles2.css">

<div class="top">
    <h1>
        Welcome <%= currentUser.name %>
    </h1>
    <div>
        <button onclick=location.href="/addbook">Add Book</button>
        <button onclick=location.href="/search">Search Book</button>
        <button onclick=location.href="/logout">Logout</button>
    </div>
</div>

<table rules="rows">
    <tr>
        <th>Book Name</th>
        <th>Book Owner</th>
        <th>Book Borrower</th>
        <th>Book Author</th>
        <th>Book Publisher</th>
        <th>Book Edition</th>
        <th>Action</th>
    </tr>
    <% if(books != null) { %>
    <% books.forEach(function(book) { %>
            <% if(book.isActive === true) {%>
                <tr class="new">
                    <td><%= book.info.bookName %></td>
                    <td><%= book.info.owner %></td>
                    <td><%= book.borrowerName %></td>
                    <td><%= book.info.author %></td>
                    <td><%= book.info.publisher %></td>
                    <td><%= book.info.edition %></td>

                        <% if(book.borrowerName === currentUser.name && book.info.status === 'Borrowed') {%>
                            <td>
                                <form action="/returnBook" method="POST">
                                    <input type="hidden" name="id" value=<%= book.id %>>
                                    <a href="#" onclick="if (! confirm('Do you want to return?')) { return false; } else this.parentNode.submit()" > Approved. Click Here to Return</a>
                                </form>
                            </td>
                        <%}%>
                        <% if(book.borrowerName === currentUser.name && book.info.status === 'Requested') {%>
                            <td>Requested</td>
                        <%}%>
                        <% if(book.lenderName === currentUser.name && book.info.status === 'Borrowed') {%>
                            <td>Lent</td>
                        <%}%>
                        <% if(book.lenderName === currentUser.name && book.info.status === 'Requested') {%>
                            <td>
                                <form action="/lendBook" method="POST">
                                    <input type="hidden" name="id" value=<%= book.id %>>
                                    <input type="hidden" name="status" value="Available">
                                    <a href="#" onclick="if (! confirm('Do you want to deny the request?')) { return false; } else this.parentNode.submit()" >Click Here to Deny Request</a>
                                </form>
                                <form action="/lendBook" method="POST">
                                    <input type="hidden" name="id" value=<%= book.id %>>
                                    <input type="hidden" name="status" value="Borrowed">
                                    <a href="#" onclick="if (! confirm('Do you want to lend?')) { return false; } else this.parentNode.submit()" >Click Here to Lend</a>
                                </form>
                            </td>
                        <%}%>
                </tr>
                    <%}%>
                <% if(book.isActive === false) {%>
                    <tr class="old">
                        <td><%= book.info.bookName %></td>
                        <td><%= book.info.owner %></td>
                        <td><%= book.borrowerName %></td>
                        <td><%= book.info.author %></td>
                        <td><%= book.info.publisher %></td>
                        <td><%= book.info.edition %></td>
                        <% if(book.borrowerName === currentUser.name && book.requestStatus === 'Returned') {%>
                            <td>Returned</td>
                        <%}%>
                        <% if(book.borrowerName === currentUser.name && book.requestStatus === 'Rejected') {%>
                            <td>Request Rejected</td>
                        <%}%>
                        <% if(book.lenderName === currentUser.name && book.requestStatus === 'Returned') {%>
                            <td>Returned</td>
                        <%}%>
                        <% if(book.lenderName === currentUser.name && book.requestStatus === 'Rejected') {%>
                            <td>Request Denied</td>
                        <%}%>
                    </tr>
                <%}%>
        <% }); %>
    <% } %>
</table>